.footer{
    background-color: #202020;
    &__wrapper{
        padding-top: 78px;
        padding-bottom: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 163px;
    }
    &__dawn{
        padding: 42px 137px;
        display: flex;
        gap: 45px;
        border-radius: 139px;
        border: 1px solid #F2F2F2;
        &-list{
            display: flex;
            flex-direction: column;
            gap: 17px;
            &__text{
                color: #FFF;
                text-align: center;
                font-family: DynaPuff;
                font-size: 48px;
                font-weight: 700;
                line-height: 58px;
            }
            &__subtext{
                display: flex;
                gap: 24px;
                color: #FFF;
                text-align: center;
                font-family: Manrope;
                font-size: 24px;
                font-weight: 500;
                line-height: 33px;
            }
        }
    }
    &__end{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 21px;
        &__list{
            display: flex;
            gap: 34px;
        }
        &-copyright{
            color: #FFF;
            text-align: center;
            font-family: Manrope;
            font-size: 16px;
            font-weight: 500;
            line-height: 22px;
        }
    }
}