.header{
    padding-top: 48px;
    background: linear-gradient(253deg, #FFEE32 -13.48%, #D6D6D6 125.48%);
    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__list{
        display: flex;
        gap: 20px;
        align-items: center;
    }
    &__button{
        display: flex;
        padding: 10px 16px;
        justify-content: center;
        align-items: center;
        gap: 12px;
        border-radius: 20px;
        border: 1px solid #FFF;
        color: #FFF;
        font-family: Manrope;
        font-size: 16px;
        font-weight: 700;
        text-decoration: none;
    }
    &__text{
        margin-top: 401px;
        padding-bottom: 120px;
        width: 846px;
        flex-shrink: 0;
        color: #FFF;
        font-family: DynaPuff;
        font-size: 80px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    &__tablet{
        display: flex;
        padding: 20px;
        justify-content: center;
        align-items: center;
        gap: 12px;
        border-radius: 20px;
        border: 2px solid #FFF;
        display: none;
    }
}

.wrapper{
    width: 1054px;
    margin: auto;
}