.gallery{
    padding: 86px 0;
    background: #3C3C3C;
    &__wrap{
        display: flex;
        flex-direction: column;
        gap: 63px;
    }
    &__main{
        display: flex;
        flex-direction: column;
        gap: 21px;
        box-sizing: border-box;
        padding: 20px 24px;
        background-color: #FFFEF2;
        border-radius: 24px;
        &-text{
            color: #565656;
            font-family: DynaPuff;
            font-size: 40px;
            font-weight: 600;
            line-height: 48px;
        }
        &-subtext{
            width: 580px;
            color: #000;
            font-family: Manrope;
            font-size: 16px;
            font-weight: 700;
            line-height: 22px;
        }
    }
    &__list{
        display: flex;
        gap: 40px;
        &-item{
            display: flex;
            flex-direction: column;
            gap: 21px;
            box-sizing: border-box;
            padding: 20px;
            background-color: #FFFEF2;
            border-radius: 24px;
            &__text{
                color: #565656;
                font-family: DynaPuff;
                font-size: 32px;
                font-weight: 700;
            }
            &__subtext{
                width: 285px;
                color: #000;
                font-family: Manrope;
                font-size: 16px;
                font-weight: 500;
            }
        }
    }
}