.graphics{
    padding: 82px 0 138px 0;
    background: #202020;
    &__wrapper{
        display: flex;
        flex-direction: column;
        gap: 38px;
    }
    &__header{
        color: #FFF;
        font-family: DynaPuff;
        font-size: 80px;
        font-weight: 700;
        line-height: 108px;
    }
    &__images{
        display: flex;
        flex-direction: column;
        gap: 26px;
        &-list{
            display: flex;
            gap: 26px;
        }
    }
    &__image{
        position: relative;
        z-index: 1;
        object-fit: cover;
    }
    &__image::after{
        content: url(../images/pseudo_star.png);
        display: block;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        z-index: 2;
    }
    &__image-2::after{
        content: url(../images/pseudo_butterfly.png);
    }
    &__image-3::after{
        content: url(../images/pseudo_asterisk.png);
    }
}