.intro{
    background-color: #202020;
    background-image: url(../../images/elipses.png);
    background-repeat: no-repeat;
    background-position: right center;
    padding: 102px 0;
    &__wrapper{
        display: flex;
        flex-direction: column;
        gap: 40px;
        width: 50%;
    }
    &__header{
        color: #FAEB49;
        font-family: DynaPuff;
        font-size: 48px;
        font-weight: 700;
        line-height: 58px;
    }
    &__text{
        color: #FFF;
        font-family: Manrope;
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
    }
    &__list{
       display: flex;
       justify-content: space-between;
       &--item{
            display: flex;
            flex-direction: column;
            gap: 5px;
            &__num{
                color: #FFF;
                font-family: DynaPuff;
                font-size: 48px;
                font-weight: 700;
                line-height: 58px;
            }
            &__text{
                color: #FFF;
                font-family: Manrope;
                font-size: 16px;
                font-weight: 700;
                line-height: 22px;
            }
       } 
    }
}