@media (max-width:1200px) {
    .header{
        width: 100&;
        &__list{
            display: none;
        }
        &__tablet{
            display: flex;
        }
        &__text{
            width: 521px;
            margin-top: 329px;
        }
    }
    .wrapper{
        width: 704px;
    }
    .intro{
        background-position: 126% 50%;
    }
    .gallery__tablet-1{
        display: none;
    } 
    .gallery{
        padding: 52px 0 122px 0;
        &__main-pic{
            width: 663px;
        }
    }
    .graphics{
        padding-bottom: 129px;
        &__image::after{
            transform: scale(0.84,0.84) translate(-57%,-57%);
        }
        &__image img{
            width: 704px;
            height: 414px;
        }
        &__image-2 img{
            width: 336px;
            height: 325px;
        }
        &__image-3 img{
            width: 336px;
            height: 325px;
        }
        &__images-list{
            gap: 34px;
        }
    }
    .outro__text{
        padding-top: 274px;
        padding-bottom: 294px;
        font-size: 48px;
    }

    .footer{
        &__wrapper{
            padding-top: 96px;
            padding-bottom: 35px;
            gap: 81px;
        }
        &__dawn{
            padding: 21px 67px;
            &-list__text{
                font-size: 48px;
            }
        }
    }
}

@media (max-width:768px) {
    .wrapper{
        width: 349px;
    }
    .header__text{
        width: 326px;
        font-size: 48px;
    }
    .intro{
        background-position: 135% 50%;
        padding: 74px 0 ;
        &__wrapper{
            width: 100%;
        }
        &__header{
            font-size: 36px;
            line-height: 43px;
        }
        &__text{
            font-size: 15px;
            line-height: 20px;
        }
        &__list{
            &--item__num{
                font-size: 36px;
                line-height: 43px;
            }
            &--item__text{
                width: 76px;
            }
        }
    }
    .gallery__tablet-2{
        display: none;
    }
    .gallery{
        padding: 52px 0 85px 0;
    }
    .gallery__main-subtext{
        width: 100%;
    }

    .graphics{
        padding: 58px 0 93px 0;
        &__wrapper{
            gap: 28px;
        }
        &__header{
            font-size: 36px;
            line-height: 54px;
        }
        &__images-list{
            flex-direction: column;
            gap: 32px;
        }
        &__image img{
            width: 343px;
            height: 325px;
        }
        &__image::after{
            transform: scale(0.75,0.75) translate(-68%,-68%);
        }
    }
    .outro__text{
        width: 98%;
        padding-top: 180px;
        padding-bottom: 173px;
        font-size: 24px;
        line-height: normal;
    }

    .footer{
        &__wrapper{
            padding-top: 53px;
            padding-bottom: 40px;
            gap: 113px;
        }
        &__dawn{
            padding: 12px 33.5px;
            gap: 20px;
            &-img{
                width: 52px;
                height: 52px;
            }
            &-list{
                gap: 4px;
                &__text{
                    font-size: 20px;
                    line-height: 24px;
                }
                &__subtext{
                    font-size: 15px;
                    &-img{
                        width: 32px;
                        height: 15px;
                    }
                    align-items: center;
                }
            }
        }
    }
}