.outro{
    background-image: url(../images/outro_bg.png);
    background-size: cover;
    &__text{
        color: #FFF;
        text-align: center;
        font-family: DynaPuff;
        font-size: 48px;
        font-weight: 700;
        line-height: 58px;
        padding-top: 303px;
        padding-bottom: 323px;
    }
}